ol, ul, li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
.black, .black a:link, .black a:visited, .black a:hover {
    color: #212121;
}
body {
    padding: 0;
    margin: 0;
    font: normal 12px/180% \5FAE\8F6F\96C5\9ED1;
    color: #1c1c1c;
    text-align: center;
    background: #fff;
    font-family: "微软雅黑", Verdana, Arial, Helvetica, sans-serif;
}
a{
    color: #333333;
    text-decoration: none;
}
a:hover{
    color: #D33333;
}
a:link, a:visited {
    color: #1c1c1c;
    text-decoration: none;
}
.main {
    width: 100%;
    min-width: 1280px;
    margin: 0 auto;
    text-align: left;
    font: normal 12px/180% \5FAE\8F6F\96C5\9ED1;
}
.ph_header {
    height: 42px;
    background: #fff;
    margin: 0 auto;
    text-align: left;
    font: normal 12px/180% \5FAE\8F6F\96C5\9ED1;
}

.w1000 {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    font: normal 12px/180% \5FAE\8F6F\96C5\9ED1;
}

.ph_header span {
    float: left;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
a{
    color: #333333;
    text-decoration: none;
}
a:hover{
    color: #D33333;
}
a:link, a:visited {
    color: #1c1c1c;
    text-decoration: none;
}
a:link, a:visited {
    color: #1c1c1c;
    text-decoration: none;
}
.ph_header span img {
    margin-top: 4px;
}
img {
    border: none;
}

.ph_header em, .ph_header em a:link, .ph_header em a:visited, .ph_header em a:hover {
    color: #666;
}

.ph_header em {
    float: right;
    line-height: 42px;
}
em {
    font-style: normal;
}
.ph_top {
    position: relative;
    margin: 0 auto;
    text-align: left;
    font: normal 12px/180% \5FAE\8F6F\96C5\9ED1;
}
.ph_top_img {
    width: 100%;
    height: auto;
}

img {
    border: none;
}
.ph_nav {
    background: #ba261a;
    height: 77px;
    position: relative;
    margin-top: -20px;
    text-align: left;
    font: normal 12px/180% \5FAE\8F6F\96C5\9ED1;
}
.w1200 {
    width: 1200px;
    margin: 0 auto;
    text-align: left;
    font: normal 12px/180% \5FAE\8F6F\96C5\9ED1;
}
.ph_nav_ul li a, .ph_nav_ul li a:link, .ph_nav_ul li a:visited, .ph_nav_ul li a:hover {
    color: #ffdcab;
}

.ph_nav a {
    text-decoration: none;
}
a:link, a:visited {
    color: #1c1c1c;
    text-decoration: none;
}
a{
    color: #333333;
    text-decoration: none;
}
a:hover{
    color: #D33333;
}
a:link, a:visited {
    color: #1c1c1c;
    text-decoration: none;
}
.ph_nav_ul li {
    float: left;
    font-size: 25px;
    line-height: 77px;
    width: 170px;
    text-align: center;
    cursor: pointer;
    color: #ffdcab;
}
.ph_nav_ul li a, .ph_nav_ul li a:link, .ph_nav_ul li a:visited, .ph_nav_ul li a:hover {
    color: #ffdcab;
}

.ph_nav a {
    text-decoration: none;
}
a:link, a:visited {
    color: #1c1c1c;
    text-decoration: none;
}
a{
    color: #333333;
    text-decoration: none;
}
a:hover{
    color: #D33333;
}
a:link, a:visited {
    color: #1c1c1c;
    text-decoration: none;
}
.ph_nav_ul li {
    float: left;
    font-size: 25px;
    line-height: 77px;
    width: 170px;
    text-align: center;
    cursor: pointer;
    color: #ffdcab;
}
.rm_txt {
    margin-top: 30px;
}

.w1200 {
    width: 1200px;
}
.cf {
    zoom: 1;
}
.rm_txt .col-1 {
    margin: 0 auto;
}

.rm_txt .col-1 {
    width: 860px;
}
.rm_txt .col-1 h3, .rm_txt .col-1 h1, .rm_txt .col-1 h4, .author, .col-1-1 {
    text-align: center;
}

.rm_txt .col-1 h3 {
    margin: 15px 0 5px 0;
    font-weight: 400;
}
.rm_txt .col-1 h3, .rm_txt .col-1 h4 {
    font-size: 18px;
    line-height: 26px;
}
.rm_txt .col-1 h1 {
    font-size: 38px;
    font-weight: 500;
    line-height: 46px;
    margin: 5px auto 15px auto;
}